h1 {
  color: orange;
  font-size: 65px;
  font-family: sans-serif, Helvettica;
}
p {
  font-weight: 600;
  font-size: 3em;
}
ul {
  background-color: rgb(184, 0, 0);
}
.mod {
  background-color: cornflowerblue;
  font-weight: 600;
  font-size: 48px;
  line-height: 3;
}
body {
  font-size: 16px;
}
#one {
  background-color: yellow;
}
#two {
  background-color: red;
}
#three {
  background-color: brown;
}
li {
  text-align: center;
  line-height: 50px;
}
